.EditControls {
  width: 16px;
  height: 16px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.moviesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.moviesHeader h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.moviesHeader button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.moviesHeader button:hover {
  background-color: #0056b3;
}

.todo {
  margin-bottom: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.todo-item p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.todo-item button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

dialog {
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modelAddNew, .modelEdit {
  font-size: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

form input {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.vazgec {
  background-color: #6c757d;
}

.vazgec:hover {
  background-color: #5a6268;
}

form p {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.todo {
  display: flex;
  justify-content: space-between;
}
